<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css">

<link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style lang="en" type="text/css" id="dark-mode-custom-style"></style><style lang="en" type="text/css" id="dark-mode-native-style"></style><style lang="en" type="text/css" id="dark-mode-native-sheet"></style></head>

<body tabindex="-1">

    <%- include('partials/navbar', {page: '/register'}) %>

  <div class="container mx-auto p-4">


    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">testing2 </h1>

          <p class="py-6">User History: test@gmail.com </p>
        </div>
      </div>
    </div>

    <br>

<table class="table table-zebra">

      <thead>
        <tr>
            <th>Login Date/Time</th>
            <th>Client Information</th>
        </tr>
      </thead>
        <tbody>
            
            <tr>
                <td>Tue Dec 10 2024 - 03:41:37 GMT+0000 (Coordinated Universal Time)</td>
                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36</td>
            </tr>
          
            <tr>
                <td>Tue Dec 10 2024 - 02:16:31 GMT+0000 (Coordinated Universal Time)</td>
                <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36</td>
            </tr>
          
        </tbody>

      </table>

   
    </div>
    


</body></html>